{% extends 'base.html' %}
{% load static %}

{% block title %}
Post Detail
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>{{ post.post_title }}</h2>
        <div>
            {% for tag in tags %}
                <span>{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>

            <img src="{% static "blog/images/"|add:post.post_imagename %}" alt="{{ post.post_title }}" />
            <address>By <a href="mailto:{{ post.post_author.e_mail }}">{{ post.post_author }}</a></address>
            <div>Last updated on <time>{{ post.post_date|date:"d M Y" }}</time></div>
        </article>
    </section>
    <main>
        {{ post.post_content|linebreaks }}
    </main
{% endblock %}
